html { // stylelint-disable-line selector-max-type
  width: 100%;
  height: 100%;
  -ms-touch-action: manipulation; // stylelint-disable-line plugin/no-unsupported-browser-features, property-no-vendor-prefix
  touch-action: manipulation; // stylelint-disable-line plugin/no-unsupported-browser-features
}

body { // stylelint-disable-line selector-max-type
  width: 100%;
  min-height: 100%;
  margin: 0;
}

main { // stylelint-disable-line selector-max-type
  display: block;
}

*[hidden] {
  display: none !important;
}
