.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
}

.icon--m {
  @include rem(margin-right, 8px);
}
