.l-aside {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: z("aside");
  min-height: 100%;
  overflow: hidden;
  background-color: map_get($palette-color, "color-4");
  transition: transform $transition-duration;
  transform: translateX(-100%);
  @include rem(width, map_get($aside, "width"));
}
