.aside__accordion {
  width: 100%;
}

.aside__accordion .accordion__trigger {
  font-weight: 500;
  color: map_get($palette-color, "color-1");
  transition: color $transition-duration;
}

.accordion .accordion:not(.accordion--active) {
  display: block;
  @include breakpoint("sm") {
    display: none;
  }
}

.aside__navigation .button--only-symbol,
.aside__menu .menu__king {
  color: rgba(#fff, 0.75);
  transition: color $transition-duration;
}

.aside__navigation .button--only-symbol:hover,
.aside__menu .menu__king:hover,
.aside__menu .menu__king.menu__king--active {
  color: #fff;
}
