.button-group {
  display: flex; // stylelint-disable-line plugin/no-unsupported-browser-features
  justify-content: center;
  @include margin-trailer();
}

.button-group .button {
  @include rem(margin-right, 16px);
  &:last-child { // stylelint-disable-line rule-empty-line-before
    margin-right: 0;
  }
}
