.charts {
  color: rgba(#000, 0.6);
  background-color: #fff;
  border-radius: 2px;
  @include padding-leader();
  @include rem(padding-right, 16px);
  @include padding-trailer();
  @include rem(padding-left, 16px);
  @include margin-trailer();
}

@each $key, $value in $palette-color {
  .charts--#{$key} {
    background-color: $value;
  }
}

.charts__radial-progress {
  position: relative;
  margin: auto;
  border-radius: 50%;
  transition: $transition-duration linear;
  @include rem(width, rhythm(5));
  @include rem(height, rhythm(5));
  @include margin-trailer();

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 500;
    color: rgba(#000, 0.9);
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    transform: scale(0.9);
    @include adjust-font-size-to(ms(1));
    @include adjust-leading-to(5);
  }
}

@for $i from 1 through 100 {
  .charts__radial-progress--#{$i} {
    background-image: radial-progress($i, map_get($palette-color, "color-2"), map_get($palette-color, "color-1"));

    &::before {
      content: "#{$i}%";
    }
  }
}

.charts__title,
.charts__label {
  margin: 0;
}

.charts__title {
  font-weight: 500;
  color: rgba(#000, 0.9);
  @include adjust-font-size-to(ms(0));
}

.charts__label {
  @include adjust-font-size-to(ms(-1));
}

.charts__label--center {
  text-align: center;
}
