.mission__heading {
  position: relative;
  color: rgba(#000, 0.6);
  @include trailing-border($border-style: (solid, #eee));
  @include margin-trailer();
}

.mission__heading::before,
.mission__heading::after {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  content: "";
}

.mission__heading::before {
  @include arrow-down(15px, #eee);
}

.mission__heading::after {
  @include arrow-left(15px, #eee);
}

.mission__heading--heading {
  padding-bottom: 0;
  text-align: center;
  border: 0;
  @include margin-trailer(3);
}

.mission__heading--heading::before,
.mission__heading--heading::after {
  content: none;
}

.heading__title {
  margin: 0;
  color: rgba(#000, 0.9);
}

.heading__title.heading__title--heading {
  text-transform: uppercase;
}

.heading__label {
  margin: 0;
  @include adjust-font-size-to(ms(-1));
}

.heading__label.heading__label--heading {
  @include adjust-font-size-to(ms(0));
}

.header .container-fluid {
  @include padding-trailer();
}

.header__navigation {
  position: relative;
}

.header__menu {
  @include rem(padding-right, 16px);
  @include rem(padding-left, 16px);
}

.header__menu .menu__king {
  color: rgba(#000, 0.6);
}

.header__menu .menu__king.menu__king--active,
.header__menu .menu__king.menu__king--active:hover {
  color: rgba(map_get($palette-color, "color-2"), 0.9);
}

.header__menu .menu__king:hover {
  color: rgba(#000, 0.9);
}
