.navigation {
  position: fixed;
  top: 0;
  right: 0;
  z-index: z("niam", "navigation");
  display: flex; // stylelint-disable-line plugin/no-unsupported-browser-features
  justify-content: space-between;
  width: 100%;
  @include rem(height, rhythm(2));
}

.navigation__to-left,
.navigation__to-right {
  display: flex; // stylelint-disable-line plugin/no-unsupported-browser-features
}

.aside__navigation {
  position: relative;
  z-index: z("aside") + 1;
}

.navigation__logo-type {
  transition: transform $transition-duration;
  @include rem(padding-right, 16px);
  @include rem(padding-left, 16px);
}

.navigation__logo-type:not(.logo-type--text),
.navigation__logo-type:not(.logo-type--text) .logo {
  box-sizing: content-box;
  @include rem(width, 115px);
  @include rem(height, 115px);
}

.navigation__logo-type:not(.logo-type--text) .logo {
  background-image: url("/stylesheet/asset/logotype.png");
}

.navigation__logo-type.logo-type--text .type {
  color: #fff;
}

.navigation .menu {
  display: none;
  @include breakpoint("sm") {
    display: flex; // stylelint-disable-line plugin/no-unsupported-browser-features
  }
}

.navigation .menu__king {
  color: rgba(#fff, 0.75);
  transition: color $transition-duration;
  &::before { // stylelint-disable-line rule-empty-line-before
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    content: "";
    @include rem(height, 2px);
  }
}

.navigation .menu__king:hover {
  color: #fff;
}

.navigation .menu__king.menu__king--active {
  color: map_get($palette-color, "color-2");
  &::before { // stylelint-disable-line rule-empty-line-before
    background-color: map_get($palette-color, "color-2");
  }
}
