.niam__navigation {
  color: rgba(#fff, 0.75);
  background-color: map_get($palette-color, "color-5");
}

.niam__navigation .button--only-symbol {
  transition: color $transition-duration;
}

.niam__navigation .button--only-symbol:hover {
  color: #fff;
}
