.table {
  width: 100%;
  color: rgba(#000, 0.6);
  border-spacing: 0;
  border-collapse: 0;
  background-color: #fff;
  border-radius: 3px;
  @include rem(padding-right, 16px);
  @include rem(padding-left, 16px);
  @include margin-trailer();
}

.table tr {
  box-shadow: inset 0 -1px 0 0 #ddd;
  @include adjust-leading-to(2);
  &:last-of-type { // stylelint-disable-line selector-max-type, rule-empty-line-before
    box-shadow: none;
  }
}

.table .td--active {
  color: rgba(#000, 0.9);
}
