.accordion__trigger {
  display: block;
  width: 100%;
  text-align: left;
  @include rem(padding-right, 16px);
  @include rem(padding-left, 16px);
}

.accordion__panel {
  display: none;
}

.accordion--active .accordion__panel {
  display: block;
}
