.button {
  display: block;
  padding: 0;
  border: 0;
  border-radius: 2px;
  @extend .Button; // stylelint-disable-line at-rule-blacklist
  @include adjust-font-size-to(ms(0));
  @include adjust-leading-to(2);
  @include rem(height, rhythm(2));
  @include rem(padding-right, 16px);
  @include rem(padding-left, 16px);
  &:hover { // stylelint-disable-line rule-empty-line-before
    cursor: pointer;
  }
}

.button--only-symbol {
  padding: 0;
  @include rem(width, rhythm(2));
}

.button--primary {
  color: rgba(#fff, 0.75);
  background-color: map_get($palette-color, "color-2");
}

.button--secondary {
  color: map_get($palette-color, "color-2");
}

.button--secondary::before {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  border: 2px solid map_get($palette-color, "color-2");
}
