.logo-type,
.logo,
.type {
  font-size: 0;
  line-height: 0;
  color: transparent;
}

.logo {
  margin: 0;
  background-repeat: no-repeat;
}

.type {
  display: block;
  width: 100%;
  height: 100%;
}

.logo-type--text .type {
  text-decoration: none;
  @include adjust-font-size-to(ms(1));
  @include adjust-leading-to(2);
}
