.menu {
  display: flex; // stylelint-disable-line plugin/no-unsupported-browser-features
  flex-wrap: nowrap;
  @at-root ul#{&} {
    margin-bottom: 0;
  }
}

.menu--vertical {
  flex-direction: column;
  flex-wrap: wrap;
}

.menu__king {
  position: relative;
  display: block;
  text-decoration: none;
  transition: color $transition-duration;
  @include adjust-font-size-to(ms(0));
  @include adjust-leading-to(2);
  @include rem(padding-right, 16px);
  @include rem(padding-left, 16px);
}
