@function z($keys...) {
  $return: $z;
  @each $key in $keys {
    $return: map-get($return, $key);
  }
  @return $return;
}

@function radial-progress($min, $foreground-color, $background-color, $max: 100) {
  $i: 360 / $max;
  $half: round($max / 2);
  $background-image: ();
  @if $min < $half {
    $background-image: append($background-image, (linear-gradient(90deg, $background-color 50%, transparent 50%, transparent), linear-gradient((90deg +  ($i * $min)), $foreground-color 50%, $background-color 50%, $background-color)));
  }
  @else {
    $background-image: append($background-image, (linear-gradient((-90deg + ($i * ($min - $half))), $foreground-color 50%, transparent 50%, transparent), linear-gradient(270deg, $foreground-color 50%, $background-color 50%, $background-color)));
  }
  @return $background-image;
}
