@mixin media($map) {
  @if type_of($map) {
    @media #{inspect($map)} {
      @content;
    }
  }
  @else {
    @warn "$map must be a map!";
  }
}

@mixin breakpoint($value) {
  $query: null;

  @if map_has_key($breakpoint, $value) {
    $query: ("min-width": map_get($breakpoint, $value));
  }
  @else {
    $query: $value;
  }

  @include media($query) {
    @content;
  }
}

@mixin arrow-up($border-width, $border-color) {
  width: 0;
  height: 0;
  line-height: 0;
  border-style: solid;
  border-width: ($border-width / 2);
  border-top-color: $border-color;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(360deg);
}

@mixin arrow-right($border-width, $border-color) {
  width: 0;
  height: 0;
  line-height: 0;
  border-style: solid;
  border-width: ($border-width / 2);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: $border-color;
  transform: rotate(360deg);
}

@mixin arrow-down($border-width, $border-color) {
  width: 0;
  height: 0;
  line-height: 0;
  border-style: solid;
  border-width: ($border-width / 2);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: $border-color;
  border-left-color: transparent;
  transform: rotate(360deg);
}

@mixin arrow-left($border-width, $border-color) {
  width: 0;
  height: 0;
  line-height: 0;
  border-style: solid;
  border-width: ($border-width / 2);
  border-top-color: transparent;
  border-right-color: $border-color;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(360deg);
}
