// 1# libsass-compass-vertical-rhythm
// 2# modularscale-sass
// 3# Typography
// 4# Color
// 5# Elevation
// 6# Aside
// 7# Breakpoint
// 8# Miscellaneous

// 1# libsass-compass-vertical-rhythm
// ----------------------------------------------------------------
$base-font-size: 16px;
$base-line-height: 24px;
$rem-with-px-fallback: false;
$rhythm-unit: "rem";
$default-rhythm-border-width: 1px;
$default-rhythm-border-style: (solid, #000);
$round-to-nearest-half-line: false;
$min-line-padding: 2px;
$grid-background-baseline-color: rgba(#f00, 0.6);
$grid-background-baseline-height: ($base-line-height / $base-font-size) * 1em;
$show-baseline-grid-backgrounds: true;
$show-grid-backgrounds: true;

// 2# modularscale-sass
// --------------------------------
$modularscale: ("base": $base-font-size, "ratio": 1.3333333333) !global;

// 3# Typography
// ----------------
$typography: (("h1", 3, 1 2), ("h2", 2, 1, 1), ("h3", 1, 1, null), ("h4", 0, 1, null), ("h5", -1, 1, null), ("h6", -1, 1, null), (("p", "ul", "ol", "pre", "table", "blockquote"), 0, null, 1));

// 4# Color
// ----------------
$palette-color: ("color-1": #f7f3c6, "color-2": #ffbb5c, "color-3": #75682b, "color-4": #1d2422, "color-5": #233638);

// 5# Elevation
// ----------------
$z: ("aside": 6000, "niam": ("navigation": 5000, "section": ("header": 4000, "noitces": 4000, "section": 3000), "footer": 3000, "niam": 2000), "main": 1000);

// 6# Aside
// ----------------
$aside: ("width": 320px);

// 7# Breakpoint
// ----------------
$breakpoint: ("sm": 768px, "md": 992px, "lg": 1200px);

// 8# Miscellaneous
// --------------------------------
$transition-duration: 0.3s;
